$transition-duration: 300ms;
$card-padding: 24px;
$border-radius: 8px;

.flip-card {
  background-color: transparent;
  height: 200px;
  perspective: 1000px;
  position: relative;
  overflow: hidden;

  &--flipped {
    .flip-card-inner {
      transform: rotateY(180deg);
    }

    .flip-card-front .flip-card-content-scroll {
      opacity: 0;
    }
  }

  &:not(.flip-card--flipped) {
    .flip-card-back .flip-card-content-scroll {
      opacity: 1;
    }
  }
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;

  &--transition {
    transition: transform 0.8s;
  }
}

%card-side {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  @extend %card-side;
}

.flip-card-back {
  @extend %card-side;
  transform: rotateY(180deg);
}

.flip-card-content {
  position: relative;
  width: 100%;
  height: 100%;
  background: gray.100;
  border-radius: $border-radius;
  padding: $card-padding;
}

.flip-card-content-scroll {
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: $card-padding;
  right: $card-padding;
  bottom: $card-padding;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transform: translateZ(0);
  will-change: transform;
  z-index: 1;
}

.transition-group {
  position: relative;
  width: 100%;
  height: 100%;
}

%slide-exit-common {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

%slide-transition {
  transition: all $transition-duration ease-in-out;
}

.slide-left {
  &-enter {
    transform: translateX(100%);
    opacity: 0;

    &-active {
      transform: translateX(0);
      opacity: 1;
      @extend %slide-transition;
    }
  }

  &-exit {
    @extend %slide-exit-common;
    transform: translateX(0);
    opacity: 1;

    &-active {
      @extend %slide-exit-common;
      transform: translateX(-100%);
      opacity: 0;
      @extend %slide-transition;
    }
  }
}

.slide-right {
  &-enter {
    transform: translateX(-100%);
    opacity: 0;

    &-active {
      transform: translateX(0);
      opacity: 1;
      @extend %slide-transition;
    }
  }

  &-exit {
    @extend %slide-exit-common;
    transform: translateX(0);
    opacity: 1;

    &-active {
      @extend %slide-exit-common;
      transform: translateX(100%);
      opacity: 0;
      @extend %slide-transition;
    }
  }
}
